body{
background-size : cover;
background-color :greenyellow
}
body{
    text-align: center;
}
h1{
    color:rgb(20, 20, 20);
    font-style: italic;
    line-height: 2cm;
}
p{
    font-family: verdana;
    font-size:20px;
    color:rgb(14, 13, 13)
}
h4{
    font-size: 20px;
    font-style: italic;
    line-height: 2cm;
}
h3{
    font-size:10;
    font-style: italic;
    line-height: 2cm;
}
h4{
    font-size: 20;
    font-style: italic;
    line-height: 2cm;
    
}